<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="false" />

    <application
        android:name="com.max2idea.android.qube.main.QubeApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/qube"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.max2idea.android.qube.main.QubeQGEActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.max2idea.android.qube.main.QubeSettingsManager"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize"
            android:label="@string/Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.max2idea.android.qube.main.VirtualKeysEditorActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize"
            android:label="@string/pref_customize_virtual_keys"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name="com.max2idea.android.qube.machine.MachineService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:label="Qube Service">
            <intent-filter>
                <action android:name="com.max2idea.android.qube.action.STARTVM" />
            </intent-filter>
        </service>
    </application>
</manifest>
